<div class="card flex justify-content-center styled-card">
  <p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Registros Caja Chica</p-tab>
        <p-tab value="1">Registros Caja General</p-tab>

    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
                <app-caja-chica-registros></app-caja-chica-registros>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-caja-general-registros></app-caja-general-registros>
        </p-tabpanel>
        </p-tabpanels>
</p-tabs>
  






