<div class="card flex justify-content-center styled-card">


  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0"><h3 class="stepper-title">Ingreso de Cajas</h3></p-tab>
      <p-tab value="1"><h3 class="stepper-title">Estados de Cajas</h3></p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="stepper-content">
          <app-caja-chica></app-caja-chica>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div class="stepper-content">
          <app-estado-caja-chica></app-estado-caja-chica>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  </div>
