<p-toast />
<div class="login-container">
  <div class="login-form">
    <div class="logo-container">
      <img [src]="logoPath" alt="Logo" class="logo" />
    </div>
    <div>
      <div class="field">
        <input pInputText [(ngModel)]="username" placeholder="Usuario" icon="pi pi-user" />
      </div>
      <div class="field">
        <p-password [(ngModel)]="password" placeholder="Contraseña" icon="pi pi-lock" [feedback]="false"></p-password>
      </div>
      <div class="field">
        <p-button class="login" (click)="onSubmit()" label="Iniciar Sesión" />
      </div>
    </div>
    <div class="links">
      <a href="/login">Políticas de privacidad</a>
    </div>
  </div>
</div>
