<div class="card">
  <h2>Gestión de Caja Chica</h2>

  <div class="p-fluid p-formgrid p-grid p-jc-center">

    <div class="contaPrinc">


                <label for="documentoNombre"></label>
                <input id="documentoNombre" placeholder="Nombre Documento" type="text" pInputText [(ngModel)]="filterParams.documentoNombre" (keyup.enter)="applyFilters()">




                <p-select id="estado" [options]="estados" [(ngModel)]="filterParams.estado" placeholder="Seleccione un estado" optionLabel="label" optionValue="value" (onChange)="applyFilters()"></p-select>

                <p-select
                    id="sucursal"
                    [options]="sucursales"
                    [(ngModel)]="filterParams.sucursalId"
                    placeholder="Seleccione una sucursal"
                    optionLabel="nombre"
                    optionValue="id"
                    (onChange)="applyFilters()">
                </p-select>


    </div>
    <br>
    <div class="contaPrinc">

      <p-datepicker  id="fechaDesde" placeholder="Desde" [(ngModel)]="filterParams.fechaCreacionDesde" dateFormat="dd/mm/yy" ></p-datepicker >
                    <br>
                    <p-datepicker id="fechaHasta" placeholder="Hasta" [(ngModel)]="filterParams.fechaCreacionHasta" dateFormat="dd/mm/yy"  ></p-datepicker >
    </div>
<br>
    <div class="contaPrinc">
      <p-button label="Buscar" icon="pi pi-search" (click)="applyFilters()" styleClass="p-button-raised p-button-primary p-mr-2"></p-button>
      <p-button label="Limpiar Filtros" icon="pi pi-times" (click)="clearFilters()" styleClass="p-button-outlined p-button-secondary"></p-button>
    </div>
  </div>

  <p-divider></p-divider>

  <p-table
    [value]="cajaChicas"
    [lazy]="true"
    (onLazyLoad)="loadCajaChicas($event)"
    [paginator]="true"
    [rows]="filterParams.pageSize"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[5,10,20,50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [rowHover]="true"
    dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="documentoNombre">Documento</th>
        <th pSortableColumn="sucursalId">Sucursal</th>
        <th pSortableColumn="fechaCreacion">Fecha Creación</th>
        <th pSortableColumn="numeroComprobante">Comprobante</th>
        <th pSortableColumn="estado">Estado</th>
        <th pSortableColumn="ingresadoPor">Ingresado Por</th>
        <th pSortableColumn="cargadorId">Cargador</th>
        <th>Fecha Cambio</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cajaChica>
      <tr>
        <td>{{ cajaChica.documentoNombre }}</td>
        <td>{{ getSucursalNombre(cajaChica.sucursalId) }}</td>
        <td>{{ cajaChica.fechaCreacion | date:'dd/MM/yyyy' }}</td>
        <td>{{ cajaChica.numeroComprobante }}</td>
        <td>{{ cajaChica.estado }}</td>
        <td>{{ getUsuarioCambioEstadoNombre(cajaChica) }}</td>
        <td>{{ getUsuarioNombre(cajaChica.cargadorId) }}</td>
         <td>{{ getFechaCambioEstado(cajaChica) | date:'dd/MM/yyyy HH:mm' }}</td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No se encontraron registros de Caja Chica.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
