<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Gestionar Proveedor</p-tab>
        <p-tab value="1">Cuentas Contables</p-tab>
        <p-tab value="2">Facturas</p-tab>

    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-cliente-detalle></app-cliente-detalle>
            
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-area></app-area>
        </p-tabpanel>
        <p-tabpanel value="2">
            <app-listar-factura></app-listar-factura>
        </p-tabpanel>
        <p-tabpanel value="3">
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>