.container {
  padding: 20px;
}

.search-section {
  margin-bottom: 2rem;
}

.search-inputs {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.branch-search {
  flex: 1;
  min-width: 20%;
}
.aceptarCaja{
  background-color: #caf1d8;
  color: #188a42;
  border-color: transparent;
  border-radius: 12px;
}
.rechazarCaja{
  background-color: #ffd0ce;
  color: #b32b23;
  border-color: transparent;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .search-inputs {
    flex-direction: column;
  }

  .p-calendar {
    width: 100%;
  }
}

/* Estilos para la tabla responsive */
@media screen and (max-width: 960px) {
  .p-datatable.p-datatable-responsive .p-datatable-tbody > tr > td {
    display: flex;
    width: 100%;
  }

  .p-datatable.p-datatable-responsive .p-datatable-thead > tr > th {
    display: none;
  }
}
::ng-deep .p-select{
  width: 100% !important;
}
::ng-deep .p-datepicker{
  width: 100% !important;
  display: flex !important;
}
::ng-deep .fecha-marcada {
  border-radius: 6px;
  color: black; /* Color de texto blanco para mejor contraste */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Color para días con al menos un estado 'Pendiente' */
::ng-deep .fecha-pendiente {
  background-color: #4096f2; /* Azul */
}

/* Color para días donde TODOS los estados son 'Aprobado' */
::ng-deep .fecha-aprobada {
  background-color: #28a746d4; /* Verde */
}


.disabled-button {
  background-color: #ccc !important;   /* Fondo gris */
  border-color: #aaa !important;
  color: #666 !important;              /* Texto gris */
  cursor: not-allowed;
  opacity: 0.7;
}

.search-SucursaF {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
}
#btnBuscar{
  width: 40%;

}
.search-button{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
