<p-menubar>
  <ng-template pTemplate="start">
    <p-button [style.color]="'black'" (click)="visible = true" icon="pi pi-arrow-right"></p-button>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a pRipple class="flex align-items-center p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template pTemplate="end">

  </ng-template>
</p-menubar>

<p-drawer [(visible)]="visible" header="Drawer">
  <!-- Contenido del drawer -->
</p-drawer>
