<div class="card flex justify-content-center styled-card">
  <p-tabs value="0"> 
  <!-- <p-tabView class="custom-stepper" [scrollable]="true"> -->
    <p-tablist>
        <p-tab value="0"> <i class="pi pi-box"></i> Crear Cuenta</p-tab>
        <p-tab value="1">Usuarios Creados</p-tab>
        <p-tab value="2">Asignar Perfiles</p-tab>
        <p-tab value="3">Usuarios Procesadores</p-tab>
        <p-tab value="4">Sucursales</p-tab>
        <p-tab value="5">Control Usuarios</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
          <div class="stepper-content">
          <app-cuenta-user></app-cuenta-user>
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
          <div class="stepper-content">
          <app-estado-user></app-estado-user>
        </div>
      </p-tabpanel>
      <p-tabpanel value="2">
          <div class="stepper-content">
          <app-perfil-usuario></app-perfil-usuario>
        </div>
      </p-tabpanel>
      <p-tabpanel value="3">
          <div class="stepper-content">
          <app-usuario-sucursales></app-usuario-sucursales>
        </div>
      </p-tabpanel>
      <p-tabpanel value="4">
          <div class="stepper-content">
          <app-sucursales></app-sucursales>
        </div>
      </p-tabpanel>
      <p-tabpanel value="5">
        <div class="stepper-content">
          <app-control-user></app-control-user>
        </div>
      </p-tabpanel>

      </p-tabpanels>



    </p-tabs> 
  </div>
